#profilePic {
        padding-top:0px; 
        padding-right:0px; 
        padding-bottom:0px; 
        padding-left:0px;
       
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 0px;
        margin-bottom: 20px;
        
          width: 100px;
          height:100%;
        border: 1px #410972;
       
         -webkit-shape-outside:circle();
  shape-outside:circle();
        }